header {
	padding-block: 6.4rem;
	padding-inline: 4rem;
	background-color: var(--clr-white);
	width: 100%;

	@include respond(mobile) {
		padding-block: 3.45rem;
		padding-inline: 2.4rem;
	}

	@include respond(mobileXS) {
		padding-inline: 1.2rem;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 2.7rem;
		width: 100%;

		.logo {
			width: 20rem;
			height: 100%;

			a {
				display: block;
			}
		}

		.mobile-nav-toggle {
			display: none;
			justify-content: center;
			align-items: center;
			background-color: transparent;
			height: 2rem;
			width: 2.4rem;
			z-index: 9999;
			cursor: pointer;

			@include respond(mobile) {
				display: flex;
			}

			.hamburger {
				width: 100%;
				height: 4px;
				position: relative;
				background-color: var(--clr-black);
				transition: transform 0.3s ease, background-color 0.3s ease;

				&::before,
				&::after {
					content: '';
					position: absolute;
					left: 0;
					width: 100%;
					height: 4px;
					background-color: var(--clr-black);
					transition: transform 0.3s ease;
				}

				&::before {
					transform: translateY(-0.8rem);
				}

				&::after {
					transform: translateY(0.8rem);
				}
			}

			&[aria-expanded='true'] {
				.hamburger {
					transform: translateX(-5rem);
					background-color: transparent;
					pointer-events: none;

					&::before {
						transform: rotate(45deg) translate(3.5rem, -3.5rem);
					}

					&::after {
						transform: rotate(-45deg) translate(3.5rem, 3.5rem);
					}
				}
			}
		}

		.primary-navigation {
			z-index: 0;
			transition: all 0.3s ease;

			&[data-visible='true'] {
				transform: translateY(0%);
				visibility: visible;
				opacity: 1;
				z-index: 1000;
			}

			@include respond(mobile) {
				display: block;
				position: fixed;
				background-color: var(--clr-black);
				color: var(--clr-white);
				top: 9.6rem;
				left: 0;
				width: 100%;
				transform: translateY(-100%);
				visibility: hidden;
				opacity: 0;
			}

			ul {
				display: flex;
				align-items: center;
				column-gap: 4.2rem;
				text-transform: uppercase;
				height: 100%;

				@include respond(mobile) {
					padding-block: 4.8rem;
					padding-inline: 2.4rem;
					flex-direction: column;
					row-gap: 3.2rem;
					width: 100%;
				}

				li {
					font-size: 1.4rem;
					line-height: 1.4rem;
					letter-spacing: 2px;

					@include respond(mobile) {
						width: 100%;
						font-size: 2.4rem;
						line-height: 2.5rem;
						letter-spacing: 2px;
					}

					a {
						color: var(--clr-grey-dark);
						border-bottom: 1px solid transparent;
						transition: border-bottom 0.3s ease;

						&:hover {
							border-bottom: 1px solid grey;
						}

						@include respond(mobile) {
							color: var(--clr-white);
						}
					}
				}
			}
		}
	}

	.nav-overlay {
		position: fixed;
		z-index: -1;
		background-color: rgba(29, 28, 30, 0.7);
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease;

		&[data-visible='true'] {
			z-index: 999;
			top: 9.6rem;
			left: 0;
			width: 100%;
			height: 100%;
			visibility: visible;
			opacity: 1;
		}
	}
}
