.locations {
	background-image: none;
	padding-block-end: 17.2rem;

	@include respond(tab-port) {
		padding-block-end: 26.5rem;
	}

	@include respond(mobile) {
		padding-block-end: 16.6rem;
	}
}

.locations-primary {
	padding-inline: 4rem;

	@include respond(mobile) {
		padding-inline: 0;
	}

	.container {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 3.2rem;

		@include respond(tab-port) {
			row-gap: 12rem;
		}

		@include respond(mobile) {
			row-gap: 4rem;
		}
	}

	.location {
		display: grid;
		column-gap: 3rem;

		&__details {
			border-radius: 1.5rem;
			padding-inline: 9.5rem;
			padding-block: 8.8rem;
			background-color: var(--clr-peach-light-2);
			background-image: url('../assets/shared/desktop/bg-pattern-two-circles.svg');
			background-repeat: no-repeat;
			background-position: left 0 bottom 0;

			@include respond(tab-land) {
				padding-inline: 7.5rem;
			}

			@include respond(mobile) {
				border-radius: 0;
				text-align: center;
				padding-inline: 2.4rem;
				padding-block: 8rem;

				background-image: url('../assets/shared/desktop/bg-pattern-three-circles.svg');
				background-position: left 0 top 0;
			}

			span {
				display: block;
				font-size: 4rem;
				font-weight: 500;
				line-height: 4.8rem;
				text-transform: capitalize;
				color: var(--clr-peach);
				margin-bottom: 2.4rem;

				@include respond(mobile) {
					font-size: 3.2rem;
					line-height: 3.6rem;
				}
			}

			.info-container {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 3rem;
				color: var(--clr-grey-dark);

				@include respond(mobile) {
					grid-template-columns: 1fr;
					row-gap: 2.4rem;
				}

				.info-office {
					p:first-of-type {
						font-weight: 700;
					}
				}

				.info-contact {
					p:first-of-type {
						font-weight: 700;
					}
				}
			}
		}

		&__map {
			border-radius: 1.5rem;
			overflow: hidden;
			height: 32.6rem;

			@include respond(tab-port) {
				order: -1;
			}

			@include respond(mobile) {
				border-radius: 0;
				height: 32rem;
			}
		}
	}

	.location--canada,
	.location--united-kingdom {
		grid-template-columns: 2.09fr 1fr;

		@include respond(tab-port) {
			grid-template-columns: 1fr;
			row-gap: 2.4rem;
		}

		@include respond(mobile) {
			row-gap: 0;
		}
	}

	.location--australia {
		grid-template-columns: 1fr 2.09fr;

		@include respond(tab-port) {
			grid-template-columns: 1fr;

			row-gap: 2.4rem;
		}

		@include respond(mobile) {
			row-gap: 0;
		}
	}
}
