.web-design {
	background-position: left 0 top 12.6rem;
	padding-block-end: 17.2rem;

	@include respond(tab-port) {
		padding-block-end: 26.5rem;
	}

	@include respond(mobile) {
		padding-block-end: 16.6rem;
	}
}

.intro-web-design {
	.container {
		background-image: url('../assets/web-design/desktop/bg-pattern-intro-web.svg');
		background-position: right 0 top 50%;
	}
}
